<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYy1S81DGRXGK6LlUPGb24LTK-hsP08cc</string>
	<key>GCM_SENDER_ID</key>
	<string>292641501457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Neoguri.ToDoGeo</string>
	<key>PROJECT_ID</key>
	<string>todogeo-69749</string>
	<key>STORAGE_BUCKET</key>
	<string>todogeo-69749.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292641501457:ios:a4a25b2e55da400be8dcb0</string>
	<key>DATABASE_URL</key>
	<string>https://todogeo-69749-default-rtdb.asia-southeast1.firebasedatabase.app</string>
    
</dict>
</plist>
